body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  }
  .link{
    text-decoration: none;
  }
  .list{
    list-style: none;
  }
  /**---------HEADER-----*/
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
        /* identical to box height, or 150% */
    letter-spacing: 0.02em;
        /* NAVY BLUE */
    color: #2E2F42; 
  }
  .header-link:hover{
    color: #404BBF;
    font-size: 26px;
  }
  .header-link:focus{
    color: #404BBF;
    font-size: 21px;
  }
  .header-mail{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
      /* identical to box height, or 150% */
    letter-spacing: 0.02em;
      /* SLATE */
    color: #434455;
  }
  .header-mail:hover{
    color:#404BBF;
    font-size: 26px;
  }
  .header-mail:focus{
    color:#404BBF;
    font-size: 21px;
  }
  .header-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
      /* identical to box height, or 150% */
    letter-spacing: 0.02em;
      /* SLATE */
    color: #434455;
  }
  .header-tel:hover{
    color:#404BBF;
    font-size: 26px;
  }
  .header-tel:focus{
    color:#404BBF;
    font-size: 21px;
  }
  /**--------Section1------*/
  .section-one {
    background-color: #2E2F42;
  }
  .section-one-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

/* WHITE */

color: #FFFFFF;
    color: white;
  }
  .btn {
    color: white;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  /**--------Section2 About-------*/
  .about {
  }
  .about-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: #2E2F42;
  }
  .about-list, {
  }
  .about-item {
  }
  .about-item-title{
    font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;
  }
  .about-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
  }
  /**--------Section3 What-------*/
  .what {
  }
  .what-title {
    font-size: 36px;
    line-height: 1.1;
/* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
/* NAVY BLUE */
    color: #2E2F42;
  }
  .what-list, {
  }
   .what-item {
  }
  /*-----section 4 our team ------*/
  .ourteam {
  }
  .ourteam-title {
    font-size: 36px;
line-height: 1.11;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;

  }
  .ourteam-list, {
  }
  .list {
  }
  .ourteam-item {
  }
  .ourteam-item-title {
    font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
  }
  .ourteam-text {
    font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
/* SLATE */
color: #434455;
  }
/*!------Portfolio------*/
/*-------Section1-------*/
.buttons {

}
.buttons-title {
}
.btnportfolio {
  /* Button Text */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* IRIS */

color: #4D5AE5;
}
.btnportfolio:hover {
  /* OCEAN */

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
/* Button Text */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* WHITE */

color: #FFFFFF;


}
.btnportfolio:focus {
  /* OCEAN */

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
/* Button Text */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* WHITE */

color: #FFFFFF;


}
/*-------Section2-------*/

.service {
}
.service-title {
  font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;
}
.service-list, {
}
.list {
}
.service-item {
}
.service-text {
  font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}